
@import '~@angular/material/theming';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

$background-color: #eaeaea;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $background-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
